@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <form method="post">
        <div class="form-group">
            <label asp-for="FizzBuzz.Year"></label>
            <input asp-for="FizzBuzz.Year" class="form-control" value="" />
            <span asp-validation-for="FizzBuzz.Year" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FizzBuzz.Name"></label>
            <input asp-for="FizzBuzz.Name" class="form-control" maxlength="100" value="" />
            <span asp-validation-for="FizzBuzz.Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Zatwierdź</button>
    @{
        
        if (Model.FizzBuzz != null && (bool)ViewData["Filled"]==true)
        {
            <p>@Model.FizzBuzz.Name urodził się w @Model.FizzBuzz.Year roku. To był rok @ViewData["Year"]</p>
        }
    }
    </form>
</div>
